<div class="row">
  <% @partners.each do |partner| %>
    <div class="col-xs-6 col-sm-3 col-md-2 partner-container">
      <%= image_tag("partners/#{partner.photo}", alt:"#{partner.name}",
          class:"partner-img img-circle img-responsive center-block") %>
      <%= link_to '<span class="fa fa-github"></span>'.html_safe,
          partner.github, class:'icon-github' %>
      <%= link_to '<span class="fa fa-gitlab"></span>'.html_safe,
          partner.gitlab, class:'icon-gitlab' %>
      <%= link_to '<span class="fa fa-linkedin"></span>'.html_safe,
          partner.linkedin, class:'icon-linkedin' %>
    </div>
  <% end %>
</div>
