<%= render 'pages/index_header' %>

<div class="intro-bgimg parallax-container">

  <%= render 'pages/index_header' %>

  <div id="lappis-intro">
    <%= content_tag :h1, image_tag('logos/lappis-logo-2.png', alt: 'lappis logo') %>
    <p>
      O LAPPIS está desenvolvendo um blog onde seus membros irão compartilhar
      muitas experiências em engenharia de software.
    </p>
    <%= content_tag :div, link_to('Visite o blog', '/blog', class: 'btn btn-green'), class: 'btn-container' %>
  </div>
</div>

<section class="content-section" id="about-section">
  <div class="container">
    <div class="section-body" id="about-us">
      <h2 class="text-center">
        <span class="fa fa-users"></span>
        <br>
        Sobre nós
      </h2>
      <hr class="header-separator">
      <h4>
        <center>
          <p>
            O Laboratório Avançado de Produção, Pesquisa e Inovação em Software
            (LAPPIS), criado em 2012 e localizado na Universidade de Brasília
            (UnB), foi projetado para atuar em diversas áreas tecnológicas,
            desde sistemas de informação até sistemas embarcados, objetivando as
            oportunidades de pesquisas teóricas e aplicadas.
          </p>
          <p>
            O LAPPIS possui como principal objetivo contribuir para o
            desenvolvimento de projetos de software, ao passo que complementa a
            formação de engenheiros de software (capazes de lidar com problemas
            ao pensar em soluções computacionais e implementá-las efetivamente),
            através de métodos ágeis, software livre e trabalho colaborativo
            centrado em pessoas.
          </p>
          <p>
            Com isso, oferece aos alunos de graduação em Engenharia de Software
            a oportunidade de aplicar conceitos e tecnologias em um ambiente
            real de produção de software, sob a orientação de professores
            especialistas nas áreas dos projetos desenvolvidos.
          </p>
        <center>
      <h4>
    </div>
  </div>
</section>

<section class="content-section" id="products-section">
  <div class="container">
    <div class="section-body" id="products">
      <h2 class="text-center">
        <span class="fa fa-line-chart"></span>
        <br>
        Produtos
      </h2>
      <hr class="header-separator">
      <h4>
        <p>
          O LAPPIS desenvolveu vários produtos ao longo dos anos. Cada um deles
          teve um significado especial e trouxe grandes desafios a serem
          resolvidos que contribuíram para o crescimento de seus membros. Aqui
          estão alguns deles:
        </p>
      <h4>
    </div>
    <%= render 'products/index' %>
  </div>
</section>

<section class="content-section" id="partners-section">
  <div class="container">
    <div class="section-body" id="partners">
      <h2 class="text-center">
        <span class="fa fa-heart"></span>
        <br>
        Parceiros
      </h2>
      <hr class="header-separator">
      <h4>
        <center>
          <p>
            O LAPPIS contou com o apoio de vários colaboradores ao longo de sua
            história. Alguns seguiram seu próprio caminho enquanto outros
            continuam a desenvolver os projetos e desafios que surgem no
            laboratório. De qualquer forma, todos eles ajudaram a construir uma
            bela história que corrobora o fato de que é possível criar um
            ambiente de trabalho baseado na colaboração, confiança e auto-gestão
            e ainda ser <strong>extremamente competitivo</strong>.
          </p>
          <p>
            Aqui estão os heróis:
          </p>
        </center>
      </h4>

    </div>
    <%= render 'partners/index' %>
  </div>
</section>
