<%= render 'pages/blog_header' %>

<a href="#page-top" id="scroll-button" class="fa fa-chevron-up"
    v-show="scrollToElement()">
</a>

<div class="page-header" id="header-radar">
  <div class="container-fluid text-center" id="container-header">
    <h1 id="main-header-txt">
      Radar LAPPIS de Tecnologias
    </h1>
    <h3 id="sub-header-txt">
      Métodos, Experiências e Tecnologias do dia a dia do laboratório
    </h3>
  </div>
</div>

<section class="content-section" id="explanation">
  <div class="container">
    <h1 class="text-center">O Que é o Radar?</h1>
    <hr />
    <p class="text-center">
      O radar de tecnologias do LAPPIS foi pensado com o propósito de divulgar
      nossas práticas e tecnologias que utilizamos no nosso dia a dia, assim
      como divulgar aquelas que julgamos não serem interessantes ou que não
      agregaram valor ao nosso laboratório.
    </p>
    <p class="text-center">

    </p>
  </div>
</section>

<section id="lappis-radar-vue-app">
  <div class="container-fluid">
    <div class="row strip">
      <div class="col-xs-4 col-md-2 btn-strip text-center"
            v-for="(link, index) in links" :id="'radar-dot'+(index+1)"
            v-bind:class="{ active: activeMd == link.md }"
            v-on:click="fetchMdContent(link.md)">
        <span>{{ link.text }}</span>
      </div>
    </div>
  </div>

  <section id="md-txt">
    <div class="container">
      <div id='md-content' v-html="pageContent"></div>
    </div>
  </section>
</section>
