'use strict';

 <%
  # TODO: Guambirra, temporario, deleta depois
  @links_radar = [
    {md: "educacao.md", text: "Educação"},
    {md: "ferramentas.md", text: "Ferramentas"},
    {md: "filosofia.md", text: "Filosofia"},
    {md: "languages.md", text: "Linguagens"},
    {md: "plataformas.md", text: "Plataformas"},
    # {md: "quem-somos.md", text: "Quem Somos"},
    {md: "tecnicas.md", text: "Técnicas"}
  ]

  @js_links =  @links_radar.map { |link| "{md: '#{link[:md]}', text: '#{link[:text]}' }" }.join(",")
 %>

function enableVue() {
  new Vue({
    el: '#lappis-radar-vue-app',

    data: {
      loading: true,
      pageContent: "",
      activeMd: "educacao.md",
      links: [ <%= @js_links %> ]
    },

    mounted() {
      this.fetchMdContent(this.links[0].md);
    },

    methods: {
      fetchMdContent(md) {
        this.loading = true;
        this.activeMd = md;

        let url = `https://raw.githubusercontent.com/lappis-unb/radar-lappis/master/${md}`;

        fetch(url)
        .then(data => data.text())
        .then(mdText => {
          this.pageContent = this.convertToHtml(mdText);
          this.loading = false;
        })
        .catch(err => {
          var eS = "<h1>Erro na requisição, recarregue e tente novamente.</h1>";
          this.pageContent = eS;
          this.loading = false;
        });
      },

      convertToHtml(md) {
        let converter = new showdown.Converter();
        let html      = converter.makeHtml(md);

        return html;
      }
    }
  });
}

$(document).ready(function() {
  if (document.getElementById('lappis-radar-vue-app')) {
    enableVue();
  }

  $('a[href*="#"]:not([href="#"])').click(function() {
    if(location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'')
                                        && location.hostname == this.hostname) {
      var target = $(this.hash);
      target = target.length ? target : $('[name=' + this.hash.slice(1) +']');

      if(target.length) {
        $('html, body').animate({
          scrollTop: target.offset().top
        }, 1000);
      return false;
      }
    }
  });
  $('header.blog-navbar ul li:last-child').click(function() {
    $('ul.menu-items').toggle(500);
  });
});

// used to make the "anchor:click -> scroll -> element animation"
function scrollToElement() {
    // if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
    //   document.getElementById("scroll-button").style.display = "block";
    // } else {
    //   document.getElementById("scroll-button").style.display = "none";
    // }
}

// used to make the index scroll animation
function collapseNavbar() {
  if ($(".navbar").offset().top > 80) {
    $(".navbar-fixed-top").addClass("top-nav-collapse");
  } else {
    $(".navbar-fixed-top").removeClass("top-nav-collapse");
  }
}

// window.onscroll = function() {
//   scrollToElement()
// };

$(window).scroll(collapseNavbar);
$(document).ready(collapseNavbar);
