.navbar-blog {
  background-color: #333;
  color: white;
  border: none;
  font-size: 1.25em;
  padding: 0 0.8em;

  button {
   border: 2px #ccc solid;
   color: #ccc;
   border-radius: 10%;
  }


  .navbar-nav a {
    color: white;
    text-decoration: none;
    border-bottom: 2px transparent solid;
    transition: all .3s ease-in-out;
    background-color: transparent;
    padding: 1em .5em;
  }

  .navbar-nav a:hover,
  .navbar-nav a:focus {
    color: white;
    background-color: transparent;
    text-decoration: none;
    border-bottom: 2px #eee solid;
  }

  .navbar-brand {
    padding: 0;
    margin-top: 6px;
    margin-bottom: auto;
    border: none;
  }

  .navbar-brand:hover {
    border: none;
  }
}

.articles {
  margin-top: 3em;
  background-color: #F3F3F3;
}

.post {
  margin-top: 2em;
  margin-bottom: 2em;
  background-color: white;
  padding: 2em;
  text-align: justify;

  h2 {
    margin-top: 0;
    font-size: 2.4em;
  }
}

.publishing-info {
  color: #999;
  margin-bottom: .5em;
}

.article-body {
  font-size: 12pt;
}

//============================== media queries =================================

@media (min-width: 470px) {
  #collapseable-menu {
    float: right;
  }
}
