.navbar-blog {
  background-color: #333;
  color: white;
  border: none;
  font-size: 1.25em;
  padding: 0 0.5em;

  a {
    color: white;
    text-decoration: none;
    border-bottom: 2px transparent solid;
    transition: all .3s ease-in-out;
    background-color: transparent;
    padding: .5em;
  }

  a:hover,
  a:focus {
    color: white;
    background-color: transparent !important;
    text-decoration: none;
    border-bottom: 2px #eee solid;
  }
}

a:hover {
  text-decoration: none !important;
}

hr {
  width: 50%;
}

.tooltip {
  display: inline-block;
}

.tooltip .tooltip-text {
  position: absolute;
  z-index: 1;
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  font-size: 1.5em;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
}

.strip {
  background: url('/images/background/test-min.jpg') no-repeat center center;
  background-size: cover;
}

.btn-strip {
  vertical-align: middle;
  background: rgba(15, 51, 59, 0.75);
  padding-top: 1.7em;
  padding-bottom: 1.7em;
  color: #999;
  transition: all .3s ease-in-out;
}

.btn-strip:hover {
  background: rgba(9, 106, 143, 0.75);
  cursor: pointer;
}

.btn-strip:hover span {
  color: white;
}

#header-radar {
  color: white;
  border: none;
  background: url("/images/background/lappisworkv2-min.jpg") no-repeat center center;
  background-size: cover;
  margin: 0;
  margin-top: 2em;
  padding-bottom: 0;
}

#container-header {
  padding-top: 3em;
  padding-bottom: 3em;
  background: rgba(15, 51, 59, 0.85);
}

#main-header-txt {
  font-size: 3em;
  font-family: 'Raleway', Arial;
  font-weight: bold;
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.5);
}

#sub-header-txt {
  font-family: Arial, sans-serif;
  font-weight: lighter;
  font-style: oblique;
  color: #efefef;
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.2);
}

#explanation {
  padding: 6em 0 6em 0;
  margin: 0;
  background-color: #f5f5f5;
  // color: #131313;
  color: #555758;
}

#explanation div p {
  font-size: 1.15em;
}

#scroll-button {
  display: none;
  z-index: 8000;
  padding: 1em;
  border-radius: 10%;
  background: rgba(100, 100, 100, 0.3);   // "Excelente!" - Lucas
  color: white;
  bottom: 4.5em;
  right: 1em;
  position: fixed;
  text-decoration: none;
}

#md-txt {
  padding-top: 3em;
  background-color: #f5f5f5;
  color: #333;
  margin: 0;
  text-align: center;
}

#md-content {
  font-family: 'Roboto', sans-serif;
}

#md-content h1 {
  text-align: center;
  font-size: 2.7em;
  text-transform: uppercase;
  font-family: 'Raleway', 'Roboto', sans-serif;
  margin: 0;
  padding: 1em 0;
  color: #333;
}

#md-content h2 {
  font-size: 2em;
  text-align: left;
  margin: 1.5em auto 1.5em auto;
  text-transform: uppercase;
  font-weight: bold;
  color: #1f3849;
  vertical-align: middle;
}

#md-content h2::before {
  content: "| ";
  color: #047374;
  font-size: 1.25em;
  font-weight: bolder;
}

#md-content h3 {
  font-size: 2.2em;
  margin: 1.2em auto;
  text-transform: capitalize;
  font-family: 'Raleway', 'Roboto', sans-serif;
}

#md-content h3::after,
#md-content h3::before {
  content: " - ";
  color: #059596;
}

#md-content p {
  font-size: 1.15em;
  line-height: 1.5;
}

#md-content h2,
#md-content h3 {
  margin-top: 3em;
}

#logo-navbar img {
  width: 200px;
  margin-top: 10px;
}

//============================== media queries =================================

// changed to 412 because of Nexus phones
@media (min-width: 412px) {
  #logo-navbar img {
    width: 100%;
    margin-top: auto;
  }

  .btn-strip {
    padding-top: 2.5em;
    padding-bottom: 2.5em;
  }

  #container-header {
    padding-top: 15em;
    padding-bottom: 15em;
  }

  #main-header-txt {
    font-size: 3.8em;
  }

  #container-header {
    padding-top: 15em;
    padding-bottom: 15em;
  }

  #main-header-txt {
    font-size: 3.8em;
  }

  #md-content h1 {
    font-size: 4em;
  }
}
