<div class="row">
  <% @products.each do |product| %>
    <div class="col-md-4 product-block">
      <%= link_to(image_tag(product.photo_path, class:'img-responsive center-block'),
       product.website, target: '_blank', class: '') %>
    </div>
  <% end %>
</div>
